<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cwagt.taskapp345">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">

        <activity
            android:name=".view.MainActivity"
            android:label="Taskvatar"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            
        >

        </activity>

        <activity
            android:name=".view.AvatarHome"
            android:label="Customise Avatar"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".view.AddTask"
            android:label="Add Tasks">
        </activity>
        <activity
            android:name=".view.EditTask"
            android:label="Edit Tasks">
        </activity>
        <activity
            android:name=".view.AddUser"
            android:label="Add Users">
        </activity>
        <activity
            android:name=".view.UserHome"
            android:label="Taskvatar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>